
images/a.png
images/d.png
images/e.png
images/f.png
images/q.png
images/r.png
images/w.png
__pycache__/window_capture.cpython-39.pyc
__pycache__/config.cpython-39.pyc
images/screenshot_test.jpg
images/screenshot_test_2.jpg
