
images/a.png
images/d.png
images/e.png
images/f.png
images/q.png
images/r.png
images/w.png
__pycache__/window_capture.cpython-39.pyc
__pycache__/config.cpython-39.pyc
images/screenshot_test.jpg
images/screenshot_test_2.jpg
__pycache__/main.cpython-39.pyc
images/screenshot_test_3.jpg
images/screenshot_test_4.jpg
images/screenshot_test_5.jpg
images/screenshot_test_6.jpg
images/screenshot_test_7.jpg
images/screenshot_test_8.jpg
images/screenshot_test_9.jpg
